<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Articulos</title>
</head>
<body>
  <div id="app" class="container">
    <h1>Articulos</h1>
    <br>
    <div class="row">
      <div class="form-check col-2 px-1">
        <input v-model="opcValor" value="1" class="form-check-input h5" type="radio" name="flexRadioDefault"
        id="flexRadioDefault1">
        <label class="form-check-label h4" for="flexRadioDefault1">
          Televisor
        </label>
      </div>
      <div class="form-check col-2">
        <input v-model="opcValor" value="2" class="form-check-input h5" type="radio" name="flexRadioDefault"
        id="flexRadioDefault2" checked>
        <label class="form-check-label h4" for="flexRadioDefault2">
          Lavadora
        </label>
      </div>
    </div>
    <br>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Cantidad</span>
      <input  v-model="cant" type="text" placeholder="ingrese cantidad" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <br>
    <button @click="tArticulo" class="btn btn-primary col-8">Comprar</button>
    <br>
      <br>
      <div class="">
        <h3 class="text-secondary">Registro de compras</h3>
        <table class="table col-lg-4">
          <thead>
            <tr>
              <th scope="col">Articulo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody v-if="arrayArtic.length">
            <tr v-for="item in arrayArtic">
              <td v-text="item.nombre"></td>
              <td v-text="item.cant"></td>
              <td v-text="item.precio"></td>
              <td v-text="item.total"></td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="4">NO existen registros</td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div> 
   
</body>
<script src="js/sources/vue.js"></script>
<script src="js/artic.js"></script>
</html> -->